extends layout
block content
  h1= title
  -let items = results
  button.btn( class="btn-success ml-1", onclick= `click(\"/Europe/create\")` ) Create a new Item
  table(class="table table-stripped table-bordered")
    thead(style="background-color:lightblue;color:black") 
      tr
        td Item ID
        td Item countries
        td Item state
        td Item ranking 
        td Update
        td Details
        td Delete
    tbody

      each item in items
        tr
          td #{item._id}
          td #{item.countries}
          td #{item.state}
          td #{item.ranking}
          td 
            button.btn( class="btn-success ml-1", onclick= `click(\"/Europe/update/?id=${item._id}\")` ) Update
          td 
            button.btn( class="btn-warning ml-1", onclick= `click(\"/Europe/detail/?id=${item._id}\")` ) Details
          td 
            button.btn( class="btn-danger ml-1", onclick= `click(\"/Europe/delete/?id=${item._id}\")` ) Delete 
        script. 
          function click(path){ 
            window.location.href=path 
          } 

  console.log(results)
  -let abc  =[{countries:"United Kingdom",state :"England",ranking:5},{countries:"Germany",state:"Hessen",ranking:10},{countries:"france",state:"Paris",ranking:15}]
  div(class="container-fluid")
  div(class="row")

    each Europe,index in abc
      table(style='width:100%')
        tr
          div(class="col-sm-2" onclick=`buy(${index})`) #{Europe.countries}
          div(class="col-sm-2" onclick=`buy(${index})`) #{Europe.state}
          div(class="col-sm-2" onclick=`buy(${index})`) #{Europe.ranking}

    script.

      function buy(itemNo)
      {
        alert(`Places to visit ${itemNo+1}`)
      }
